body{
    background: #1e2d3b;
    padding: 50px;
}
/* select album */
.input-group{
    width: 17%;
    margin-left: 10px;
    
    
}

/* view album  */
.card-container{
    text-align: center;
    color:white;
    display: inline-block;
    padding: 10px;
    width: calc((100% / 5) - 20px);
}

.container{
    background: #2e3a46;
    padding: 20px;
    
    
}

.container img{
    width: 100%;
}

.title{
    padding-top: 15px;
    
}
h5{
    font-size: 17px;                
}
        
.author{
    color: #808080;
}
.year{
    color: #808080;
    display: block;
}
   